html {
cursor: none;
overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #1a1a1a 0%, #0a0a0a 100%);
  color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
  height: 400vh;
}